<h2>
  <a href="{{ url }}">{{ title }}</a>
</h2>

<p>
  {{ description }}
</p>

<div class="comments">
  <h3>Comments: </h3>
  {{#each comments }}
    <div class="comment">
      <p>
        {{ comment }}
      </p>
      <span>{{ author }}</span>
    </div>
  {{/each}}
</div>

<div class="new-comment">
  <h3>New Comment:</h3>
  <form action="/articles/{{ id }}" method="post">
    <p>
      <label for="author">Author</label>
      <input type="text" name="author" value="">
    </p>
    <p>
      <label for="comment">Comment</label>
      <textarea name="comment" rows="8" cols="80"></textarea>
    </p>
    <button type="submit" name="submit">Submit</button>
  </form>
</div>
